<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        Spring Container : 객체의 관리(생성, 소멸, DI) // 인터페이스, 추상클래스는 안됨
    -->
    <bean
            class="com.ureca.step3.MessageBeanKo"
    >
    </bean>
</beans>
<!-- applicationContext.xml -->